html,body,#app,h1,h2,h3,h4,h5.h6,ul,li{
    padding: 0;
    margin: 0;
}
html,body,#app{
    height: 100%;
}
html,body{
    min-width: 1300px;
}
.flex{
    display: flex;
}
.el-breadcrumb{
    margin-bottom: 15px;
}